.hh1{
    padding: 20px 100px;
    display: flex;
    gap: 50px;
}
.hh1 a{
     list-style: none;
}
.hh1 li{
    list-style: none;
}
.contact{
    color: rgba(255, 100, 100, 1);
}

.ds3_t1{
    padding:30px 100px;
    display: flex;
    width: 800px;
}
.ds3_t2{
    padding: 30px 100px;
    display: flex;
    width: 800px;
}
.ds3_t3{
    padding: 30px 100px;
    display: flex;
    width: 800px;
}

.ds3_t4{
    padding: 30px 100px;
    display: flex;
    width: 800px;
}
.iconses i{
    margin-top: 150px;
    padding: 10px;
    font-size: 30px;
    

}
.ds3_t32{
    padding-left: 50px;
}
.ds3_t22{
    padding-left: 50px;
}
.ds3_t12{
    padding-left: 50px;
}
.ds3_t42{
    padding-left: 50px;
}